header{
    font-size:250%;
    height: 12vh;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    background-color: white;
    color: black!important;
    font-weight: bold;
    align-content: center;
    
}
header img{
    height: 90px;
    width: auto;
    margin-left: 5%;
}
